$main-background: #F4F5F9;
$black-blue: #42567A;
$blue: #3877EE;
$pink: #EF5DA8;
$defoult-opacity-vector: 0.1;

$numPoint: 6;
$arcAngle: calc(360deg / $numPoint);
$shift: 60deg;
$diameter-circle: 450px;
$diameter-point: 10px;
$increase-for-current: 6;