@import "_variables.scss";

.container-circle {

    .circle {
        width: $diameter-circle;
        height: $diameter-circle;
        border: 1px solid rgb($black-blue, $defoult-opacity-vector);
        border-radius: 50%;
        position: relative;
    }

    .point {
        width: $diameter-point;
        height: $diameter-point;
        border-radius: 50%;
        background-color: $black-blue;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        cursor: pointer;
        transition: transform 1s;
    }

    .point > p {
        font-weight: 400;
        display: none;
        transform: translateY(45%) scale(calc(1.2));
    }

    .point:hover > p {
        display: inline-block;      
    }

    @for $i from 0 through $numPoint {
        #point#{$i + 1} {
            & {
                transform: translate(-50%, -50%) rotate(calc($arcAngle * $i - $shift)) translate(calc($diameter-circle / 2)) rotate(- calc($arcAngle * $i - $shift));
                transition: transform 0.5s, width 0.5s, height 0.5s, border-radius 0.5s, background-color 0.5s;
                border: 1px solid $gray;
            }
            &:hover {
                background-color: white;
                width: calc($diameter-point * 6);
                height: calc($diameter-point * 6);
            }
        }
    }

    #current {
        transform: translate(-50%, -50%) rotate(- $shift) translate(calc($diameter-circle / 2)) rotate($shift);
        transition: transform 0.5s;
        width: calc($diameter-point * 6);
        height: calc($diameter-point * 6);
        background-color: white;
        border: 1px solid $gray;

        p {
            display: inline-block;
            font-weight: 400;
            transform: translateY(45%) scale(1.2);
        }
    }

    .container-button {
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        
        .arrow {
            position: relative;
            width: 25px;
            height: 25px;
            border: 1px solid rgb($black-blue, 0.5);
            border-radius: 50%;
        }
    
        .arrow-left:after {
            position: absolute;
            top: 8px;;
            left: 9px;
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-left: 2px solid $black-blue;
            border-bottom: 2px solid $black-blue;
            transform: rotate(45deg);
        }
    
        .arrow-right:after {
            position: absolute;
            top: 8px;;
            left: 9px;
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-left: 2px solid $black-blue;
            border-bottom: 2px solid $black-blue;
            transform: translate(-30%) rotate(225deg);
        }
    }
    
}

